.header {
    transition: height 0.3s ease, background-color 0.3s ease;
    &.shrink {
        height: 5rem;
        background-color: #181d31;
    }

    ul {
        li {
            &.active {
                font-weight: bold;
                color: #678983;
            }
        }
    }
}
